button,button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-20{
    font-size: 20px;
}

#carouselExampleCaptions .carousel-control-prev,
#carouselExampleCaptions .carousel-control-next,
#carouselExampleCaptions .carousel-indicators
{
    mix-blend-mode: difference !important;
}


#special-price .owl-carousel .item .product a{
    overflow: hidden;

}

.owl-carousel .item .product img{
    transition: transform .5s ease;
}

.owl-carousel .item .product img:hover{
    transform: scale(1.1);
}

.owl-carousel .owl-nav button{
    position: absolute;
    top: 30%;
    outline: none;
}

.owl-carousel .owl-nav button.owl-prev{
    left: 0;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span{
    font-size: 35px;
    color : #005cbf;
    padding: 0 1rem;
}

.owl-carousel .owl-nav button.owl-prev span{
    margin-left: -4rem;
}

.owl-carousel .owl-nav button.owl-next{
    right: 0;
}

.owl-carousel .owl-nav button.owl-next span{
    margin-right: -4rem;
}

/* products-category filter */

#filter-product .row .col {
    margin-top: 1rem;
    width: 200px;
}

